# file: ~/.gitignore_global
*.DS_Store
.idea/*
.fuzz/src/main/java/edu/bigfuzztabulardata/generatedInputFiles/*
classes/*
target/*
**/target
*.class
*.log
fuzz/target/
conf
conf+cov
# Ignores crash reports & sample data
2021*
