# file: ~/.gitignore_global
*.DS_Store
.idea/*
fuzz/src/main/java/edu/tabfuzz/generatedInputFiles/*
!fuzz/src/main/java/edu/tabfuzz/generatedInputFiles/.gitkeep
fuzz/src/main/java/edu/tabfuzz/generatedConfigurations/*
!fuzz/src/main/java/edu/tabfuzz/generatedConfigurations/.gitkeep
*.iml
classes/*
target/*
**/target
*.class
*.log
fuzz/target/

output/*
# Ignores crash reports & sample data
2021*
fuzz-results/
evaluation_code/
